<ion-pane view-title="intro">
  <ion-content id="intro-content">
    <h1>Rolling Paint</h1>
    <div id="logo">
      <img id="logo-icon" src="img/logo.png">
    </div>
    <p>
      그림을 그리고, 맞추고
    </p>
    <p>
      함께 감상하며 빵 터지고!
    </p>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="사용자 이름">
      </label>
    </div>
    <div class="padding">
      <a class="button button-block button-positive" href="#/app/lobby">시작하기</a>
    </div>
  </ion-content>
</ion-pane>
