<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">방 만들기</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewRoom()">닫기</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">제목</span>
          <input type="text" ng-model="room.title">
        </label>
        <div class="item item-toggle">
          비밀방
          <label class="toggle">
            <input type="checkbox" ng-model="room.lock">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <label class="item item-input" ng-show="room.lock">
          <span class="input-label">비밀번호</span>
          <input type="password" ng-model="room.password">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            인원
          </div>
          <select>
            <option>5</option>
            <option selected>6</option>
            <option>7</option>
            <option>9</option>
          </select>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">만들기</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
