<ion-view view-title="셀러방" ng-controller="PageCtrl">

  <ion-header-bar frosted-bar class="bar-frosted bar bar-subheader button-right">
    <h1 class="title">준비 중 (3/5)</h1>
    <button class="button button-clear button-positive">준비</button>
  </ion-header-bar>

  <ion-content class="padding" start-y="120">
    <ol class="messages">
      <li ng-repeat="message in messages" ng-bind-html="message.content"></li>
    </ol>
  </ion-content>
  <ion-footer-bar class="bar-frosted item-input-inset" keyboard-attach>
    <!-- <button class="button button-clear button-positive" ng-click="add()">Add Message</button> -->

    <label class="item-input-wrapper">
      <input type="search" placeholder="" ng-model="room.message">
    </label>
    <button class="button button-clear button-positive" ng-click="send()">
      전송
    </button>

  </ion-footer-bar>
</ion-view>
