<ion-pane view-title="chat">

  <ion-header-bar class="bar-calm">
    <div class="buttons">
      <button class="button button-clear" ng-click="leaveRoom(room)" ng-disabled="user._id !== room.ownerId && players[user._id].playStatus === '02'">나가기</button>
    </div>
    <h1 class="title">{{room.title}} ({{room.players.length}}/{{room.capacity}})</h1>
    <!-- 방장인 경우 -->
    <button class="button button-clear" ng-click="startGame()" ng-if="user._id === room.ownerId">
      시작
    </button>
    <!-- 참가자인 경우 -->
    <button class="button button-clear" ng-click="toggleReady()" ng-if="user._id !== room.ownerId">
      {{players[user._id].playStatus === '01' ? '준비' : '대기'}}
    </button>
  </ion-header-bar>

  <ion-header-bar class="bar bar-subheader bar-stable">
    <ion-scroll direction="x">
      <button class="player-tag button button-outline button-{{player.playStatus === '01' ? 'stable' : 'balanced'}}" ng-repeat="player in players">
        {{player.username}}
      </button>
    </ion-scroll>
  </ion-header-bar>

  <ion-content class="padding" id="chat-content" start-y="120" delegate-handle="messages-scroll">
    <ol class="messages">
      <li class="{{message.userId ? (user._id === message.userId ? 'message-self' : 'message-others') : 'message-notice'}}" ng-repeat="message in data.messages track by $index">
        <p class="message-sender" ng-if="message.userId">{{players[message.userId].username}}</p>
        <p class="message-content">{{message.content}}</p>
      </li>
    </ol>
  </ion-content>

  <ion-footer-bar class="bar-frosted item item-input-inset message-input">
    <label class="item-input-wrapper">
      <input ng-keyup="$event.keyCode == 13 ? sendMessage() : null" ng-model="data.message" placeholder="메시지" type="text">
    </label>
    <button class="button button-clear button-positive" ng-click="sendMessage()">전송</button>
  </ion-footer-bar>

</ion-pane>
