<ion-pane view-title="chat">
  <ion-header-bar class="bar-frosted">
    <div class="buttons">
    <button class="button button-clear button-positive" ng-click="leaveRoom()">나가기</button>
    </div>
    <h1 class="title">{{room.title}} ({{room.users.length}}/{{room.capacity}})</h1>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <h2 class="title">({{room.users.length}}/{{room.capacity}})</h2>
    <!--user._id === room.ownerId && room.status === '01'-->
    <button class="button button-positive" ng-click="sendStatusMessage()" ng-disabled="user._id === room.ownerId && room.status === '01'">
      {{user._id === room.ownerId ? '시작' : (users[user._id].readyStatus === '01' ? 'Ready' : 'unReady')}}
      <!--{{user._id === room.ownerId ? '시작' : '준비'}}-->
    </button>
  </div>

  <ion-content class="padding" id="chat-content" start-y="120" delegate-handle="messages-scroll">
    <ol class="messages">
      <li class="{{user._id === message.userId ? 'message-self' : ( message.userId === '' ? 'message-system' : 'message-others')}}" ng-repeat="message in data.messages track by $index">
        <p class="message-sender">{{users[message.userId].username}}</p>
        <p class="{{message.userId === '' ? '' : 'message-content'}}">{{message.content}}</p>
      </li>
    </ol>
  </ion-content>

  <ion-footer-bar class="bar-frosted item item-input-inset message-input">
    <label class="item-input-wrapper">
      <input ng-keyup="$event.keyCode == 13 ? sendMessage() : null" ng-model="data.message" placeholder="메시지" type="text">
    </label>
    <button class="button button-clear button-positive" ng-click="sendMessage()">전송</button>
  </ion-footer-bar>

</ion-pane>
