<ion-pane view-title="chat">
  <ion-header-bar class="bar-frosted">
    <div class="buttons">
    <button class="button button-clear button-positive" ng-click="leaveRoom()">나가기</button>
    </div>
    <h1 class="title">{{room.title}} ({{room.users.length}}/{{room.capacity}})</h1>
  </ion-header-bar>

  <ion-content class="padding" id="chat-content" start-y="120" delegate-handle="messages-scroll">
    <ol class="messages">
      <li class="{{user._id === message.userId ? 'message-self' : 'message-others'}}" ng-repeat="message in data.messages track by $index">
        <p class="message-sender">{{users[message.userId].username}}</p>
        <p class="message-content">{{message.content}}</p>
      </li>
    </ol>
  </ion-content>

  <ion-footer-bar class="bar-frosted item item-input-inset message-input">
    <label class="item-input-wrapper">
      <input ng-keyup="$event.keyCode == 13 ? sendMessage() : null" ng-model="data.message" placeholder="메시지" type="text">
    </label>
    <button class="button button-clear button-positive" ng-click="sendMessage()">전송</button>
  </ion-footer-bar>

</ion-pane>
