<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">카드 고르기</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewRoom()">닫기</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <div id="contents" ng-controller="WordCtrl" ng-repeat="word in words">
            <div ng-click="createSketchbook(word[0])" class="item item-divider item-balanced">{{word[0]}}</div>
            <div ng-click="createSketchbook(word[1])" class="item item-divider item-energized"> {{word[1]}}</div>
            <div ng-click="createSketchbook(word[2])" class="item item-divider item-balanced">{{word[2]}}</div>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
