<ion-pane view-title="intro">
  <ion-content id="intro-content">
    <h1>Rolling Paint</h1>
    <div id="logo">
      <img id="logo-icon" src="img/logo.png">
    </div>
    <p>
      그림을 그리고, 맞추고
    </p>
    <p>
      함께 감상하며 빵 터지고!
    </p>
      <form action="/login" method="post">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" name="email" ng-model="loginData.email" placeholder="이메일">
      </label>
      <label class="item item-input">
        <input type="text" name="password" ng-model="loginData.password" placeholder="패스워드">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">로그인</button>
    </div>
    </form>
    <div>
      <button class="button button-clear button-positive" ng-click="signUp()">회원가입</button>
    </div>
  </ion-content>
</ion-pane>
