<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-outline" ng-click="openNewRoom()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

      <ion-content header-shrink scroll-event-interval="5">

        <div class="list card" ng-repeat="list in roomList">
          <div class="item item-divider item-balanced" ng-show="list.status == 01">
            대기
          </div>
          <div class="item item-divider item-balanced" ng-show="list.status == 02">
            게임 중
          </div>
          <div class="item">
            <h2>{{list.title}} ({{list.users.length}}/{{list.capacity}})</h2>
            <p>{{list.date}}</p>
            <div class="item item-button-right" ng-show="list.status == 01">
              참가하기
              <button class="button button-positive" ng-click="joinRoom(list)">
                <i class="icon ion-android-walk"></i>
              </button>
            </div>
            <!-- <a class="button button-block button-royal" ng-show="list.status == 01" ng-click="joinRoom(list)">
              <i class="icon ion-android-walk"></i>
              참가하기
            </a> -->
          </div>
        </div>
      </ion-content>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item href="#/profile" menu-close>
          {{user.username}}
        </ion-item>
        <ion-item href="#/intro" menu-close>
          나가기
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
