<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">비밀번호 입력</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePasswordModal()">닫기</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="joinRoom(joiningRoom)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">비밀번호</span>
          <input type="password" ng-model="joiningRoom.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">입장</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
