/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
/*.slider {
  height: 100%;
}*/
#intro-content {
  padding-top: 70px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#logo-icon {
  width: 150px;
  height: 150px;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	/*max-width:50%;*/
	margin:0 0 1rem 0;
	padding:0;
}

/*.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}*/

.messages li.message-others {
  max-width:50%;
}

.messages li.message-others img {
  max-width:50%;
}

.messages li.message-self {
	float:right;
}

.messages li.message-self img {
	float:right;
}

.messages p {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

/*.messages li:nth-child(even) p {
	background:#158ffe;
	color:#fff;
}*/

.messages li.message-self p {
	background:#158ffe;
	color:#fff;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}
/*
.chatForm { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
.chatForm input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
.chatForm button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
*/
.messagesJYJ input { border: 0; padding: 10px; width: 80%; margin-right: .5%; /*list-style-type: none; margin: 0; padding: 0;*/ }
.messageJYJ button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
.messagesJYJ li { padding: 5px 10px; }
.messagesJYJ li:nth-child(odd) { background: #eee; }
