/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
/*.slider {
  height: 100%;
}*/
#intro-content {
  padding-top: 70px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#logo-icon {
  width: 150px;
  height: 150px;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	max-width:80%;
	margin:0 0 1rem 0;
	padding:0;
}

.messages li.message-others {
  float:left;
}

.messages li.message-self {
	float:right;
}

.messages li.message-system {
	text-align:center;
  font-weight:bold;
}

.messages li.message-notice {
  max-width: 100%;
	text-align:center;
}

.messages p.message-sender {
  margin-bottom: 2px;
}

.messages .message-self .message-sender {
  text-align: right;
}

.messages .message-content {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.messages li.message-notice .message-content {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:0;
	margin:0;
  font-size: .75rem;
  font-weight: bold;
}

.messages li.message-self .message-content {
	background:#158ffe;
	color:#fff;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

.message-input {
  width: 100%;
}

/*
.chatForm { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
.chatForm input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
.chatForm button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
*/
.messagesJYJ input { border: 0; padding: 10px; width: 80%; margin-right: .5%; /*list-style-type: none; margin: 0; padding: 0;*/ }
.messageJYJ button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
.messagesJYJ li { padding: 5px 10px; }
.messagesJYJ li:nth-child(odd) { background: #eee; }

.paper {
  border: 1px solid #EEEEEE;
  box-shadow: 3px 3px 3px #CCCCCC;
  display: block;
  margin: 0 auto;
}

.card-room {
  margin: 1px;
}

.card-room .item .item-timeago {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.card-room .item-fade {
  position: relative;
  height: 4.8em; /* exactly three lines */
}
.card-room .item-fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.player-tag {
  width: 600px;
}

.player-tag button {
  margin: 0 5px;
}
